.App{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  background-image: url('https://source.unsplash.com/random/{100vw}X{100vh}/?nature');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

main{
  min-height: 100vh;
}


.App input{
  width: 60%;
  height: 2.5rem;
  margin: 0 19%;
  border-radius: 0 0 16px 16px;
  opacity: 0.85;
  border: 0px;
  font-size: 20px;
  padding-left: 1rem;
}

.location h6{
  margin: 2px 0;

}
.location_date_wea{
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 4rem 10vw 1rem 10vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.weather{
  border-radius: 5px;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.466);
  font-size: 35px;
  color: aliceblue;
  
}